body {
	box-sizing: border-box;
}

.container {
	text-align: center;
	background-color: black;
	margin-top: 65px;
	margin-left: 30%;
	opacity: 0.9;
	width: 40%;
	height: 500px;
	align-items: center;
	justify-content: center;

}

h1 {
	font-weight: bold;
	font-family: Helvetica, Arial, sans-serif;
}

.inputs {
	width: 320px;
	height: 35px;
	margin-left: 18px;
	margin-top: 10px;
	font-size: 17px;
	background-color: #333;
	border: none;
	border-radius: 5px;
	text-align: center;

}

.submits {
	width: 320px;
	height: 35px;
	margin-left: 18px;
	margin-top: 10px;
	font-size: 17px;
	background-color: red;
	border-radius: 5px;
	text-align: center;
	border: none;
	font-weight: bold;
	opacity: 0.9
	color: #fff;
}

h1 {
	color: lightgrey;
}

label { 
	color: lightgrey;
}

a {
	color: red;
	text-decoration: none;
}